@media (max-width: 1356px) {
    #battery-voltage {
    transform: scale(.87);
    transform-origin: top left;
  }
    #total-power {
      transform: scale(.87);
      transform-origin: 125% 0%;
    }
  }
  
  .gauge-container {
    width: 12vw;
    display: block;
    padding-top: 10px;
    text-align: center;
  }
  .gauge-container > .gauge > .dial {
    stroke: #222;
    stroke-width: 3;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value-text {
    fill: white;
    font-family: Arial;
    font-size: 20px;
  }
  
  
  .gauge-container.two {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  .gauge-container.two > .gauge > .dial {
    stroke: #222;
    stroke-width: 3;
    fill: rgba(0,0,0,0);
  }
  .gauge-container.two > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
  }
  .gauge-container.two > .gauge > .value-text {
    fill: white;
    font-family: Arial;
    font-size: 20px;
  }
